@use "../../../build/variables" as variables;

.hero {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: variables.$myh-spacing-xx-large variables.$myh-spacing-xxx-large;
  display: flex;
  gap: variables.$myh-spacing-xxx-large;

  & > * {
    width: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: var(--bg-image-src);
    background-size: cover;
    background-position: center center;
  }
}
